# build
cofidectl
cofide.yaml

# don't ignore pkgs named the same as binary!
!cofidectl/

# ide workspaces
.idea
.vscode

# Plugins
cofidectl-connect
cofidectl-test-plugin

# Generated config files.
tests/integration/external-agent/conf/
