name: integration
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  single-trust-zone:
    name: single trust zone
    runs-on: ubuntu-latest
    strategy:
      matrix:
        test:
          - single-trust-zone
          - external-agent
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install just
        uses: taiki-e/install-action@just

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: Build and run tests
        run: just build

      - name: Install kind
        run: just install-kind

      - name: Install ko
        uses: ko-build/setup-ko@v0.9
        env:
          KO_DOCKER_REPO: kind.local

      - name: Create a kind cluster
        run: just create-kind-cluster

      - name: Test
        run: just integration-test ${{ matrix.test }}

  federation:
    name: federation
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # Repeat the test with in-process plugins and the test gRPC plugin.
        plugin:
          - ""
          - "cofidectl-test-plugin"
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install just
        uses: taiki-e/install-action@just

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: Build and run tests
        run: just build
      
      - name: Build and install test plugin
        run: just install-test-plugin
        if: ${{ matrix.plugin == 'cofidectl-test-plugin' }}

      - name: Install kind
        run: just install-kind

      - name: Install ko
        uses: ko-build/setup-ko@v0.9
        env:
          KO_DOCKER_REPO: kind.local

      - name: Create kind clusters
        run: just create-kind-clusters 2

      - name: Test
        run: just integration-test federation
        env:
          DATA_SOURCE_PLUGIN: ${{ matrix.plugin }}
          PROVISION_PLUGIN: ${{ matrix.plugin }}
